# Curso de Python Científico
## Ejercicios sobre DataFrames del módulo de Pandas

---

**Autor:** César Husillos Rodríguez

**Email:** c.husillos@igme.es

---

In [ ]:
import pandas as pd
import numpy as np

### Ejercicio 1

A partir del diccionario que se muestra en la siguiente celda, genere un DataFrame. Asigne la lista *etiquetas* a el índice de su nuevo DataFrame.

In [ ]:
datos_examenes  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
etiquetas = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Escriba la solución al ejercicio en las siguientes líneas de esta celda.

### Ejercicio 2

Genere un DataFrame a partir del array 'a' definido en la siguiente celda.

In [ ]:
a = np.arange(18).reshape((6, 3))

# Escriba la solución al ejercicio en las siguientes líneas de esta celda.

### Ejercicio 3

Genere un DataFrame a partir del diccionario 'd' disponible en la siguiente celda. **A posteriori**, cambie el nombre de las columnas: 'col1' pasa a 'Column1', 'col2' a 'Column2' y 'col3' a 'Column3'.

In [ ]:
d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}

# Escriba la solución al ejercicio en las siguientes líneas de esta celda.

### Ejercicio 4

Cambie el orden de las columnas definidas en el diccionario 'd' de la celda de abajo. El nuevo orden será: 'col3', 'col2', 'col1'

In [ ]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)

# Escriba la solución al ejercicio en las siguientes líneas de esta celda.

### Ejercicio 5

Borre la filas de posiciones 2 y 4 del DataFrame 'df' generado en la siguiente celda.

In [ ]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(d)
print("DataFrame original")
print(df)

# Escriba la solución al ejercicio en las siguientes líneas de esta celda.

In [ ]:
# help(df.drop)

### Ejercicio 6

Agregue la lista llamada 'color' definida en la celda siguiente al DataFrame del ejercicio 1. Llame a la nueva columna 'color'.

In [ ]:
color = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']

# Escriba la solución al ejercicio en las siguientes líneas de esta celda.

### Ejercicio 7

Escriba el código necesario para seleccionar las columnas que contienen el nombre y la puntuación del DataFrame creado en el ejercicio 1.

### Ejercicio 8

Seleccione el nombre y la puntuación del DataFrame del ejercicio 1 para las filas 1, 3, 5 y 6.

### Ejercicio 9

Calcule el valor promedio de las puntuaciones registradas en el DataFrame del ejercicio 1.

### Ejercicio 10

Reemplace en la columna 'qualify' del Dataframe del ejercicio 1 los valores 'yes' por True, y 'no' por False.

### Ejercicio 11

Seleccione las filas de DataFrame del ejercicio 1 para las que se hayan dado más de dos intentos.

### Ejercicio 12

Genere un código que guarde el DataFrame 'd' en el fichero 'dataframe.csv'. Los datos estarán separados por un tabulador ('\t'). Después lea ese fichero para cargarlo en otro DataFrame llamado 'otro_d'. Muestre este último DataFrame por pantalla.

In [ ]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)

# Escriba la solución al ejercicio en las siguientes líneas de esta celda.

### Ejercicio 13

Combine las series definidas en la siguiente celda en un único DataFrame.

In [ ]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
s2 = pd.Series(['10', '20', 'php', '30.12', '40'])
print("Series:")
print(s1)
print(s2)

# Escriba la solución al ejercicio en las siguientes líneas de esta celda.

### Ejercicio 14

Reemplace todas las ocurrencias de NaN en el DataFrame 'df' definido en la celda de abajo por 0. Verifique que lo ha logrado imprimiendo el array por pantalla.

In [ ]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)

# Escriba la solución al ejercicio en las siguientes líneas de esta celda.